.h-full.bg-slate-200
  %h1 Nice Game!
  .score-board
    = render GameSessionScoreboardComponent.new(@game_session.score_board)

  .summary-player-list.overflow-auto{class: "h-[25%] bg-[#a8dadc]"}
    - if @game_session.users.any?
      .text-bold.text-xl.pb-4
        Who's playing?
      #user-sessions.flex.flex-wrap.items-top.gap-x-2.gap-y-2.items-top
        - @game_session.users.each do |user|
          = render PlayerBadgeComponent.new(user: user)

  .summary-chat.bg-gray-300.overflow-auto.flex.flex-col-reverse{class: "h-[50%] bg-[#a8dadc]"}
    = render(ChatComponent.new(game_session: @game_session))
  .lobby-copyright.bg-gray-200.text-xs.text-center{class: "h-[10%]"}
    = Copyright.text

  .back-to-lobby
    = link_to "Back to Lobby", root_path
  .reset-game
    = button_to "Play Again", reset_game_session_path(@game_session)
