.h-screen.bg-slate-200
  .lobby-game-session-name.flex.items-center{class: "h-16 bg-[#f1faee]"}
    .m-auto.w-24.text-center
      = button_to user_game_session_path(@game_session), method: :delete do
        Leave
    .w-full.h-full.bg-gray-200.text-bold.text-left.ml-2.text-2xl.items-center.flex
      .ml-4
        = @game_session.name
    .m-auto.w-24.text-center
      = button_to user_game_session_path(@game_session), method: :delete do
        Start
  .lobby-player-list.overflow-auto{class: "h-[25%] bg-[#a8dadc]"}
    - if @game_session.users.any?
      .text-bold.text-xl.pb-4
        Who's playing?
      #user-sessions.flex.flex-wrap.items-top.gap-x-2.gap-y-2.items-top
        - @game_session.users.each do |user|
          = render PlayerBadgeComponent.new(user: user)

  .lobby-chat.bg-gray-300.overflow-auto.flex.flex-col-reverse{class: "h-[50%] bg-[#a8dadc]"}
    = render(GameSessionChatComponent.new(game_session: @game_session))
  .lets-go{class: "h-[10%] bg-[#1d3557]"}
    = button_to start_game_session_path(@game_session) do
      Lets Go

-# e63946 red
-# f1faee light
-# a8dadc to
-# 457b9d dark 
-# 1d3557
